
.mask-hole {
  mask-image: radial-gradient(circle at center, transparent 0%, transparent 80px, black 120px);
  -webkit-mask-image: radial-gradient(circle at center, transparent 0%, transparent 80px, black 120px);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

@keyframes spotlight-spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

.animate-spotlight-spin {
animation: spotlight-spin 60s linear infinite;
}

@keyframes fade-pop {
    0% {
      opacity: 0.1;
      transform: scale(0.2) translateY(-200px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  .animate-fade-pop {
    animation: fade-pop 0.3s ease-out forwards;
  }

  .animate-fade-pop-delay {
    animation: fade-pop 0.3s ease-out forwards;
    animation-delay: 0.15s;
  }

  .animate-fade-pop-delay2 {
    animation: fade-pop 0.3s ease-out forwards;
    animation-delay: 0.3s;
  }
