/* ZENLOOP */

@font-face {
  font-family: "ZenLoop";
  src: url("/fonts/ZenLoop/ZenLoop-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ZenLoop";
  src: url("/fonts/ZenLoop/ZenLoop-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* BUBBLEGUM */

@font-face {
  font-family: "Bubblegum";
  src: url("/fonts/Bubblegum_Sans/BubblegumSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* COMIC RELIEF */

@font-face {
  font-family: "Comic";
  src: url("/fonts/Comic_Relief/ComicRelief-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Comic";
  src: url("/fonts/Comic_Relief/ComicRelief-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: bold;
}

/* BLOCK (SILKSCREEN) */

@font-face {
  font-family: "Silkscreen";
  src: url("/fonts/Silkscreen/Silkscreen-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Silkscreen";
  src: url("/fonts/Silkscreen/Silkscreen-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: bold;
}

.font-zen {
  font-family: "ZenLoop", sans-serif;
}

.font-bubble {
  font-family: "Bubblegum", sans-serif;
}

.font-comic {
  font-family: "Comic", sans-serif;
}

.font-block {
  font-family: "Silkscreen", sans-serif;
}
